<mat-card class="member-card">
  <mat-card-header>
    <div class="header-image-container">
      <div mat-card-avatar class="header-image" [style.background-image]="'url(' + imagePath + ')'"></div>
    </div>

    <div class="header-content">
      <mat-card-title>{{ this.member.firstname }} {{this.member.lastname}}</mat-card-title>
      <mat-card-subtitle>{{ this.member.project }}</mat-card-subtitle>
      <div *ngIf="isCosupervised">
        <p class="cosupervisor">Supervised with </p>
        <ng-container *ngFor="let cosupervisor of this.member.direction; let last = last">
          <p class="cosupervisor">{{ cosupervisor }}{{ !last ? ', ' : '.' }}</p>
        </ng-container>
      </div>

      <div *ngIf="isAlumni">
        <p>Current Position: {{ this.member.currentPosition }}</p>
      </div>

      <div *ngIf="isAlumni">
        <p>Graduate in {{ this.member.date }}</p>
      </div>

      <div *ngIf="!isAlumni">
        <p>Student since {{ this.member.date }}</p>
      </div>
    </div>
  </mat-card-header>

  <mat-card-content>

  </mat-card-content>
</mat-card>
