<div class="home-container">
  <app-image-displayer class="image-displayer"></app-image-displayer>

  <p>VisionIC est un groupe de recherche se concentrant sur le développement d'outils computationnels à l'interection de la vision par ordinateur, de l'apprentissage machine et du traitement d'images, pour extraire de l'information utile, en 1D, 2D, 3D ou 4D, pour des applications dans des domaines variés, incluant le médical, le divertissement et l'industrie. Nos axes de recherche sont au nombre de deux :</p>
  <p>- la capture/analyse du mouvement humain : on s'intéresse notamment à développer des solutions démocratisables, impliquant des capteurs à faible cout, et généralisables à des environnements applicatifs ou les morphologies, les poses ou les amplitudes du mouvement sont particuliaires.</p>
  <p>- l'aide au diagnostic à partir d'images médicales : on s'intéresse notamment à développer de nouvelles approches computationnelles pour défier la contrainte d'annotations des images, tout en offrant des solutions les plus interprétables possibles afin de faciliter leur déploiement en clinique.</p>
  <p>Le groupe est mené par Lama Séoud, professeure au département de génie informatique et génie logiciel, à Polytechnique Montréal et chercheure au centre de recherche du CHU Sainte-Justine.</p>
</div>
